html { 
font-family: 'Roboto';
color: white;
margin: 0;
}

.header { 
display: flex;
flex: 1;
justify-content: space-around;
background-color: #1F2937;
margin: 0;
}

.maincontainer {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
background-color: #1F2937;
}

.intro-section-opening { 
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-weight: 900;
margin-top: 50px;
font-size: 48px;
gap: -30px;
flex-wrap: wrap;
max-width: 450px;
background-color: #1F2937;
margin-bottom: 100px;
}



ul { 
display: flex;
color: white;
gap: 50px;
font-size: 18px;
margin: 0; 
padding: 0;
}



.imageblock { 
margin-top: 100px;
margin-bottom: 120px;

}

button { 
background-color: #3882F6;
color: white; 
margin-top: 15px;
font-weight: 300;
border-radius: 10px;
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 15px;
margin-left: -325px;
min-height: 15px;
}



p { 
font-size: 18px;
font-style: normal;
font-weight: lighter;
margin: 0;
}

.informationsection { 
font-size: 36px;
weight: 900;
display: flex;
flex-wrap: wrap;
justify-content: center; 
gap: 50px;
align-items: center;
color: lightblue;
margin-top: 10px;
background-color: white;
}

.informationsection > div { 
display: flex; 
flex-direction: column;
text-wrap: wrap;
max-width: 150px;
justify-content: center;
font-size: 14px;
top-padding: 20px;
background-color: white;

}

.box {
  width: 150px;
  height: 150px;
  border: 4px solid cornflowerblue;
  border-radius: 8px;
}



.informationheading { 
    display: flex;
    flex: 1; 
    font-weight: 900; 
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.quotesection { 

display: flex; 
justify-content: space-between; 
align-items: center; 
flex: 1;
background-color: #E5E7EB;
font-weight: 300; 
font-size: 36px; 
color: #1F2937;
font-style: italic;
padding: 200px;
padding-left: 300px;
padding-right: 300px;
margin-top: 100px;
flex-wrap: wrap;
}



.cta { 
display: flex;
flex: 1;
background-color: #3882F6;
justify-content: space-between;
color: white;
margin-top: 100px;
max-width: 700px;
margin-left: 500px;
padding: 60px;
margin-bottom: 150px;
gap: 60px;
}


.footer { 
background-color: #1F2937;
color: white; 
display: flex; 
flex: 1;
justify-content: center; 
align-items: center; 
font-weight: lighter;
min-height: 100px;

}

.cta-left { 
display: flex;
flex-direction: column;
justify-content: left;
align-items: left;
gap: -35px;
}

.cta-right { 
display: flex; 
justify-content: right; 
align-items: center;
margin-bottom: 20px;
width: 150px;
}

.ctabutton {
color: white;
border-color: white; 
padding: 10px;
min-width: 120px;
}

p.introsectionblurb { 

    font-size: 18px;
    font-weight: 100;
}